.notification {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.type_success {
  color: green;
}

.type_error {
  color: red;
}
.type_extra {
  color: blue;
}